{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Please your complete the profile management form, if you havent done so yet.
    If the form is completed proceed to fuel Quote form
click here to view your fuel quote history -->

<div id="welcome">
    <p class="bg1">Already a member? <a class="login" href="login.html">Login</a> </p>
    <p class="p2">Please complete for your <a href="profile.html" class="p1">profile</a> if you haven't done so yet.</p>
    <p class="p3">If your form is completed please proceed to <a href="form.html" class="p1">fuel quote form</a>.</p>
    <p class="p4">Click here to view  <a href="history.html" class="p1">fuel quote history</a>.</p>
</div>

<h5>Meet the Team, Feel free to reach out to either of us for more information</h5>
<div id="our-team">
    <!-- <p class="left"> Samita Damani <br>
        damanisamita19@gmail.com</p>
    <p class="middle">Anthony Naily <br>
        Mhd.smith94@gmail.com</p>
    <p class="right">Derrick Bulux <br>
        dbulux12@gmail.com</p> -->

        <p class="team"> Samita Damani <br>
            damanisamita19@gmail.com <br>
            Anthony Naily <br>
            Mhd.smith94@gmail.com <br>
            Derrick Bulux <br>
            dbulux12@gmail.com</p>
       


</div>
{% endblock %}